@use "../sass/abstracts/vars";

.tabs {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  &__item {
    font-family: vars.$font__secondary;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    &.active {
      border-bottom: 3px solid vars.$color__primary;
    }
  }
}
